.image-edge {
  .container {
    position: relative;

    &:after, &:before {
      clear: both;
      display: table;
      content: " ";
    }

    div[class*='col-'] {
      position: absolute;
    }
  }

  .right {
    right: 0;
  }
}

.img-content img {
  max-width: 100%;
}

.po {
  padding-left: 0;
  padding-right: 0;
  float: left;
}

.v-align-transform {
    position: relative;
    transform: translate3d(0, -50%, 0);
    top: 50%;
    z-index: 2;
}
