footer {
  padding: 72px 0;

  &.dark {
    background: #292929;

    a {
      color: #fff;
    }

    span {
      color: #fefefe;
    }

  }

  .logo {
    max-height: 30px;
  }
}

.recent-posts .date {
    display: block;
    letter-spacing: 0;
    opacity: .8;
}

.widget {
  margin-bottom: 48px;
  ul:last-child, p:last-child {
    margin-bottom: 0;
  }

  hr {
    margin-bottom: 12px;
  }
}
.link-list {
  line-height: 32px;

  a:after {
    content: "\e628";
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 11px;
    display: inline-block;
    margin-left: 8px;
  }
}

h6.title {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 12px;
}

