nav ul {
  margin-bottom: 0;
}
.module, .module-group {
  display: inline-block;

  &.left {
    float: left;
  }

  &.right {
    float: right;
  }
}

.module {
  padding: 0 32px;
}

nav .btn,
.nav-bar .btn {
  margin: 0;
  height: auto;
}
.nav-utility {
  height: 45px;
  line-height: 43px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;

  i {
    position: relative;
    top: 1px;
  }
}

.nav-bar {
  height: 55px;
  max-height: 55px;
  line-height: 53px;
  border-bottom: 1px solid #ccc;

  .module, .module-group {
    height: 55px;
  }

  a {
    display: inline-block;
    height: 55px;
  }
}

.logo {
  max-height: 60%;
}

.logo-light {
  display: none;
}

nav.nav-centered .logo {
  max-height: 64px;
  margin: 64px 0 40px 0;
}

.dark {
  nav {
    .logo-light {
      display: inline;
    }

    .logo-dark {
      display: none;
    }
  }
}

.has-dropdown {
  padding-right: 18px;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    content: "\e64b";
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
  }
}

.menu {
  width: 100%;
  height: 55px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

  &.inline-block {
    width: auto;
  }

  li {
    a {
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      color: #292929;
      opacity: 0.5;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      max-width: 100%;
      white-space: normal;

      &:hover {
        opacity: 1 !important;
      }
    }
  }

  &> li {
    margin-right: 32px;
    float: left;
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    opacity: 1;

    ul {
      width: 200px;
      padding: 8px 0;
      background: #292929;
      position: absolute;
      z-index: 99;
      opacity: 0;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transform: translate3d(0, 10px, 0);
      -webkit-transform: translate3d(0, 10px, 0);
      -moz-transform: translate3d(0, 10px, 0);
      visibility: hidden;
      margin-top: -1px;
    }

    &> ul  {
      &> li {
        position: relative;
        line-height: 24px;
        width: 100%;
        vertical-align: top;

        i {
          display: inline-block;
          margin-right: 2px;
        }

        &> ul {
          left: 100%;
          top: 0;
        }

        &:hover {
          &> ul {
            opacity: 1;
            transform: translate3d(0, 0px, 0);
            -webkit-transform: translate3d(0, 0px, 0);
            -moz-transform: translate3d(0, 0px, 0);
            visibility: visible;
          }
        }
      }

      .has-dropdown:after {
        color: #fff;
        top: 5px;
        right: 24px;
        content: "\e649";
      }

      li {
        a {
          color: #fff;
          height: auto;
          padding: 6px 24px;
        }
      }
    }

    &:last-child {
      margin-right: 0;

      &> ul {
        right: 0;

        ul {
          left: auto;
          right: 100%;
        }
      }
    }

    &:hover {
      &> ul {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
        -webkit-transform: translate3d(0, 0px, 0);
        -moz-transform: translate3d(0, 0px, 0);
        visibility: visible;
      }
    }
  }
}

.has-dropdown:hover .mega-menu ul {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  visibility: visible;
}
.mega-menu {
  width: auto !important;
  white-space: nowrap;
  line-height: 24px;

  ul {
    position: relative !important;
    left: auto !important;
    padding: 0 !important;
  }

  &> li {
    width: 200px !important;
    overflow: hidden;
    display: inline-block;
  }

  .title {
    letter-spacing: 1px;
    color: #fff;
    display: inline-block;
    padding: 6px 24px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
  }
}



@media all and (max-width: 990px) {
  nav {
    &.fixed {
      position: absolute !important;
      opacity: 1 !important;
      visibility: visible !important;
    }

    .outOfSight {
      transform: translate3d(0, 0px, 0) !important;
      -webkit-transform: translate3d(0, 0px, 0) !important;
      -moz-transform: translate3d(0, 0px, 0) !important;
    }

    .nav-centered {
      .logo {
        margin: 24px 0 16px 0;
        max-height: 40px;
      }
    }
  }

  .nav-bar {
    height: auto;
    overflow: hidden;

    .module-group, .module {
      height: auto;
      overflow: hidden;
    }

    .module {
      padding: 0 16px;
    }

    .module-group {
      width: 100%;
      padding: 16px 0;

      .module {
        display: block;
        float: none;
        width: 100%;
      }
    }
  }

  .menu {
    height: auto;

    &.inline-block {
      width: 100%;
    }

    a {
      height: auto;
      line-height: 24px;
      padding: 4px 0;
    }

    li {
      line-height: 24px;
      float: none;
      display: block;
      width: 100%;
      max-width: 100%;
    }

    &> li {
        ul {
          position: relative;
          width: 100%;
          opacity: 1;
          visibility: visible;
          transform: translate3d(0, 0px, 0);
          -webkit-transform: translate3d(0, 0px, 0);
          -moz-transform: translate3d(0, 0px, 0);
          left: 0;
        }

        &> ul {
          position: relative;
          opacity: 1;
          visibility: visible;
          display: none;
          transform: translate3d(0, 0px, 0);
          -webkit-transform: translate3d(0, 0px, 0);
          -moz-transform: translate3d(0, 0px, 0);

          .has-dropdown:after {
            content: "\e64b";
          }

          &> li {

            a {
              padding: 4px 16px;
            }

            &> ul {
              left: 0;
              display: none;
              padding: 0;
            }
          }
        }
    }
  }

  .has-dropdown {
    padding-right: 0;

    .has-dropdown {
      li {
        padding-left: 18px;
      }
    }
  }

  .mega-menu {
    margin-left: 0 !important;

    .title {
      padding: 4px 16px;
    }

    li {
      width: 100% !important;
    }
  }

  .toggle-sub > ul,
  .toggle-sub .mega-menu ul {
    display: block !important;
  }

  .dark nav .module.widget-handle {
    border-top: 1px solid #444;
  }
  .dark nav .mobile-toggle {
    border-left: 1px solid #444 !important;
  }
  .dark nav .nav-open .mobile-toggle {
    border-bottom: 1px solid #444;
  }
}

nav {
  &.outOfSight {
    transform: translate3d(0, -200px, 0);
    -webkit-transform: translate3d(0, -200px, 0);
    -moz-transform: translate3d(0, -200px, 0);
  }

  &.scrolled {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
  }

  &.fixed, &.absolute {
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
    right: 0;
  }

  &.absolute {
    position: absolute;
  }

  &.fixed {
    position: fixed;
    visibility: hidden;
    opacity: 0;

    .nav-utility {
      display: none;
    }

    &.scrolled {
      visibility: visible;
      opacity: 1;
    }
  }

  &.transparent {
    background: none;

    .menu > li > a, .module.widget-handle i, .nav-utility {
      color: #fff;
    }

    .nav-utility, .nav-bar {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .menu > li > a {
      opacity: 1;
    }

    .has-dropdown:after {
      color: #fff;
    }

    .logo-dark {
      display: none;
    }

    .logo-light {
      display: inline;
    }

    &.fixed {
      background: #fff;

      .logo-light {
        display: none;
      }

      .logo-dark {
        display: inline;
      }

      .menu > li > a,
      .module.widget-handle i {
        color: #292929;
      }

      .menu > .has-dropdown:after {
        color: #fff;
        color: #292929;
      }

      .module.widget-handle {
        border-left: 1px solid #ccc;
      }

      .menu > li > a,
      .module.widget-handle i {
        opacity: .5;
      }

    }
  }
}

.has-offscreen-nav > nav.fixed {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@media all and (max-width: 990px) {

  nav {
    &.transparent {
      .nav-open {
        background: #fff;
      }

      .nav-open {
        .menu > li > a, .module.widget-handle i, .nav-utility {
          color: #292929;
        }
      }

      .logo-dark {
        display: inline;
      }

      .logo-light {
        display: none;
      }

      .has-dropdown:after {
        color: #292929;
      }
    }
  }

  .menu > li:last-child > ul ul {
    right: 0;
  }
}

.dark {
  nav {
    .menu > li > a, .module.widget-handle i, .nav-utility {
      color: #fff;
      opacity: .7;
    }

    .module.widget-handle {
      border-left: 1px solid rgba(255, 255, 255, 0.2);
    }

    .nav-utility, .nav-bar {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &.transparent {
      &.fixed {
        &.bg-dark {
          background: #292929;

          .menu > li > a, .module.widget-handle i {
            color: #fff;
          }
        }
      }
    }
  }
}
